$color_1: #30574E;
$color_2: rgb(48, 87, 78);
$color_3: rgb(128, 128, 128);
$color_4: rgb(141, 141, 141);
$font-family_1: quicksand;
$background-color_1: #0000001a;
$background-color_2: rgb(0, 0, 0);

.fqa {
	background: #e6e0d3 !important;
	overflow: scroll;
	width: 120%;
}
$background-color_1: $background-color_1;

.scrollarea {
	min-height: 1px;
	min-width: 1px;
	border-radius: 50px;
}
::-webkit-scrollbar {
	background-color: $background-color_1;
	width: 8px;
	height: 1px;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb {
	background: #0000001a;
	width: 1px;
	border-radius: 50px;
}
::-webkit-scrollbar-corner {
	background: #0000001a;
	width: 1px;
	border-radius: 50px;
}


main {
	margin: 30px auto;
	width: 980px;
	height: 596px;
	margin-top: 155px;
	.search {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		overflow: hidden;
		height: 49px;
		.search-header {
			flex-basis: 80%;
			color: $color_1;
			font: bold 24px / 1.2em quicksand;
			margin: 0px !important;
			padding: 0px !important;
			text-align: center;
		}
		.search-icon {
			display: block;
			width: 24px;
			cursor: pointer;
			color: $color_2;
		}
		.search-input {
			position: absolute;
			top: 0px;
			right: -100%;
			width: 100%;
			transition: all 0.2s ease-in-out;
			input {
				padding: 10px 12px 10px 30px;
				border: 2px solid rgb(17, 90, 248);
				width: 100%;
				outline: none;
				background: #e6e0d3;
				height: 100%;
			}
			.search-input-icon {
				color: $color_2;
				position: absolute;
				top: 50%;
				left: 10px;
				transform: translateY(-50%);
			}
		}
		.search-input-position {
			right: 0px;
		}
		.close-input-icon {
			color: $color_2;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			cursor: pointer;
		}
	}
	.nav {
		.nav-link {
			padding-right: 30px;
			display: inline-block;
			text-decoration: none;
			cursor: pointer;
			font-size: 18px;
			font-family: $font-family_1;
			color: $color_3 !important;
			line-height: 40px !important;
		}
		.nav-link.active {
			color: $color_2 !important;
			background: none;
		}
	}
}
.accordion-button {
	:not(.collapsed) {
		::after {
			display: none;
		}
	}
	::after {
		display: none;
	}
}
.accordion-item {
	border: none;
	background: transparent;
	padding: 0px;
}
.accordion-header {
	background: #dbdbdbe0;
	border: none;
	outline: none;
	margin-top: 16px;
	.accordion-button {
		border: none;
		outline: none;
		padding: 0px;
	}
}
.quastion-content {
	display: flex;
	justify-content: start;
	align-items: center;
	background: none !important;
	cursor: pointer;
	.eteration {
		background: #c2c2c2e0;
		width: 130px;
		text-align: center;
		color: $color_2;
		font-size: 32px;
		font-weight: 600;
		height: 90px;
		display: flex;
		justify-content: center;
		align-content: space-between;
		align-items: center;
	}
	:hover {
		.eteration {
			background-color: $background-color_2 !important;
		}
	}
	.quastion {
		font-size: 18px;
		margin: auto 18px;
		text-transform: capitalize;
		color: $color_4;
	}
}
.accordion-body {
	.answer {
		font-size: 22px;
		font-weight: 300;
		margin-left: 24px;
		color: $color_3 !important;
	}
}
.accordion-button::after{
    display: none;
}
